# Never mind this first bit, it is setup only

In [1]:
install.packages("TraMineR", dependencies=TRUE, repos = "http://cran.us.r-project.org")

library(TraMineR)
library(RColorBrewer)
library(cluster)
rawData = read.csv("Pedro_Review_22062015.csv",sep=";") 
companies = rawData[rawData[,5]=="Companies",]
titles = rawData[rawData[,5]=="Titles",]
membership = rawData[rawData[,5]=="Board Memberships",]

The downloaded binary packages are in
	/var/folders/s0/cpch1n253877slkrcpdzqgph0000gn/T//Rtmpwh4EMm/downloaded_packages

TraMineR stable version 1.8-12 (Built: 2016-06-25)
Website: http://traminer.unige.ch
Please type 'citation("TraMineR")' for citation information.

In [2]:
getSequence <- function(raw){
  return(raw[,-seq(1:5)])
}



trim <- function (x) gsub("^\\s+|\\s+$", "", x)
    
    
    
makeSequencePlots <- function(seq){
  seqIplot(seq,sortv="from.start",withlegend=TRUE,title="Companies - All sequences - Sort by start")
  
  seqIplot(seq,sortv="from.end",withlegend=TRUE,title="Companies - All sequences - Sort by end")
  
  seqfplot(seq, withlegend = TRUE, border = NA, title="10 Most Frequent Sequences")
  
  seqdplot(seq, withlegend = TRUE, border = NA, title="States Distribution Over Time")
  
  seqmtplot(seq, withlegend = TRUE, title="Mean Time spent in each State")
  return(TRUE)
}

In [5]:

companiesSequence <- getSequence(companies)

companiesSequence[companiesSequence == "b"] <- "B"
companiesSequence[companiesSequence == "c"] <- "C"
companiesSequence[companiesSequence == "Partner"] <- "Z"
companiesSequence[companiesSequence == "Consultant"] <- "Z"
companiesSequence[companiesSequence == "President"] <- "Z"
companiesSequence[companiesSequence == "President, COO,CEO"] <- "Z"
companiesSequence[companiesSequence == "Senior Advisor"] <- "Z"
companiesSequence[companiesSequence == "sr. v.p., corp. Strategy"] <- "Z"
companiesSequence[companiesSequence == "President, COO"] <- "Z"
companiesSequence[companiesSequence == "CHECK"] <- "Z"

for (row in seq(1:dim(companiesSequence)[1])){
  for (col in seq(1:dim(companiesSequence)[2])){
    companiesSequence[row,col] <- trim(companiesSequence[row,col])
  }
}

# Event Sequence Creation

In [6]:
dim(companiesSequence)

[1] 231  71

In [7]:
companiesSequence.seq <- seqdef(companiesSequence,NULL,missing="Z")

 [>] found missing values ('Z') in sequence data
 [>] preparing 231 sequences
 [>] coding void elements with '%' and missing values with '*'
 [!] sequence with index: 24,44,178,229,230 contains only missing values.
     This may produce inconsistent results.
 [>] 3 distinct states appear in the data:
     1 = A
     2 = B
     3 = C
 [>] state coding:
       [alphabet]  [label]  [long label]
     1  A           A        A
     2  B           B        B
     3  C           C        C
 [>] 231 sequences in the data set
 [>] min/max sequence length: 50/71

In [12]:
head(companiesSequence.seq)

   X1951 X1952 X1953 X1954 X1955 X1956 X1957 X1958 X1959 X1960 ⋯ X2012 X2013
1  *     *     *     *     *     *     *     *     *     *     ⋯ A     %
7  *     *     *     *     *     *     *     *     *     *     ⋯ A     %
13 *     *     *     *     *     *     *     *     *     *     ⋯ A     %
19 *     *     *     *     *     *     *     *     *     *     ⋯ %     %
25 *     *     *     *     *     *     *     *     *     *     ⋯ %     %
31 *     *     *     *     *     *     *     *     *     *     ⋯ C     C
   X2014 X2015 X2016 X2017 X2018 X2019 X2020 X2021
1  %     %     %     %     %     %     %     %
7  %     %     %     %     %     %     %     %
13 %     %     %     %     %     %     %     %
19 %     %     %     %     %     %     %     %
25 %     %     %     %     %     %     %     %
31 %     %     %     %     %     %     %     %

In [8]:
dim(companiesSequence.seq)

[1] 231  71

In [14]:
x <-seqformat(companiesSequence.seq,to="TSE",tevent=seqetm(companiesSequence.seq,method="state"))
head(x)

 [>] input is a sequence object, converting from STS format
 [>] converting special codes for missing states to NA's
 [>] converting 231 sequences to TSE format ...
 [>] STS sequences converted to 236 TSE seq./rows

  id time event
1 2  32   B
2 2  44   A
3 3  42   A
4 5  49   A
5 6  50   A
6 6  54   C

In [15]:
dim(x)

[1] 236   3

In [11]:
companiesEventSequence <- seqecreate(x,use.labels=FALSE)
companiesEventSequence

  [1] 32-(B)-12-(A)             42-(A)
  [3] 49-(A)                    50-(A)-4-(C)
  [5] 50-(A)                    41-(B)-15-(A)
  [7] 50-(A)                    28-(B)-6-(C)-3-(B)-6-(A)
  [9] 32-(B)-11-(A)             52-(A)
 [11] 49-(A)                    44-(A)
 [13] 49-(B)-9-(A)              60-(A)
 [15] 35-(A)                    49-(A)
 [17] 50-(A)                    52-(A)
 [19] 39-(A)                    48-(A)
 [21] 47-(A)-8-(C)              55-(A)
 [23] 46-(A)                    31-(B)-13-(A)
 [25] 47-(A)                    50-(A)
 [27] 50-(A)                    46-(A)
 [29] 36-(B)-20-(A)             41-(B)-11-(A)
 [31] 20-(B)-25-(A)             52-(A)
 [33] 54-(A)-4-(C)              44-(A)
 [35] 45-(A)                    53-(A)
 [37] 52-(A)                    49-(A)
 [39] 27-(A)                    36-(A)-2-(C)-1-(A)
 [41] 42-(A)                    57-(A)
 [43] 49-(A)                    50-(A)
 [45] 20-(A)-13-(C)-4-(A)       51-(C)-4-(A)
 [47] 37-(B)-16-(A)             30-(A)
 [49] 41-(A)                    55-(A)
 [51] 43-(B)-13-(C)-1-(A)-2-(C) 44-(B)
 [53] 50-(A)                    54-(A)
 [55] 23-(B)-21-(A)-17-(C)      50-(A)
 [57] 41-(A)                    55-(A)
 [59] 46-(B)-6-(A)              54-(A)
 [61] 50-(B)-1-(A)              54-(A)
 [63] 32-(C)-5-(A)              36-(A)
 [65] 55-(A)                    57-(A)
 [67] 56-(A)                    47-(A)
 [69] 52-(A)                    54-(A)
 [71] 57-(A)                    41-(A)
 [73] 58-(A)                    55-(A)
 [75] 20-(B)-22-(A)             48-(A)
 [77] 54-(A)                    48-(A)
 [79] 50-(A)-4-(C)              43-(A)
 [81] 25-(B)-19-(C)-1-(B)-4-(A) 36-(C)-15-(A)
 [83] 52-(A)                    61-(A)
 [85] 49-(A)                    49-(A)
 [87] 53-(A)                    36-(A)
 [89] 49-(A)                    48-(A)
 [91] 42-(B)-11-(A)             56-(A)
 [93] 35-(B)-19-(B)             41-(A)
 [95] 30-(A)-6-(C)-21-(A)       58-(A)
 [97] 45-(A)                    43-(C)-7-(A)
 [99] 53-(A)                    47-(A)
[101] 60-(A)                    58-(C)
[103] 41-(A)                    61-(A)
[105] 48-(B)-2-(C)-11-(A)       49-(A)
[107] 54-(A)                    36-(B)-9-(C)-14-(A)
[109] 38-(A)-22-(B)             38-(A)
[111] 56-(A)                    47-(A)
[113] 57-(A)                    56-(A)
[115] 36-(B)-10-(A)             45-(A)
[117] 38-(A)                    19-(A)-10-(C)-30-(A)
[119] 44-(A)                    48-(C)-12-(A)
[121] 37-(C)-6-(B)-14-(A)       60-(A)
[123] 44-(A)                    44-(A)
[125] 54-(B)-5-(A)              56-(A)
[127] 42-(A)-15-(C)             54-(A)
[129] 48-(A)                    32-(A)-4-(C)
[131] 36-(B)-3-(A)-15-(C)-2-(A) 55-(A)
[133] 44-(A)                    46-(A)
[135] 51-(A)                    47-(A)
[137] 22-(A)                    51-(A)
[139] 29-(A)                    37-(B)-15-(A)-6-(B)
[141] 45-(B)-8-(A)              59-(A)
[143] 47-(A)                    56-(A)
[145] 48-(A)                    50-(A)
[147] 52-(A)-4-(C)              55-(A)
[149] 57-(A)                    47-(A)
[151] 44-(A)                    53-(A)-3-(C)
[153] 53-(A)                    45-(A)
[155] 50-(A)                    54-(A)
[157] 42-(A)                    38-(A)
[159] 46-(A)-1-(C)-5-(A)-4-(B)  35-(A)
[161] 47-(A)                    37-(A)
[163] 37-(C)-8-(B)              47-(B)-7-(A)
[165] 48-(A)                    46-(A)-8-(C)
[167] 42-(A)                    41-(A)
[169] 36-(A)